@{
    Layout = "~/Views/Shared/_LayoutReact.cshtml";
    ViewBag.Title = "ReactJS";
}

<h2>@ViewBag.Title</h2>
<div id="maincontent">
    
</div>

<script language="javascript">

    require(['react', 'reactDOM', 'es6!/Scripts/react/index'], function (react, reactDOM, module) {
    });
</script>